h2 {
  font-size: 2.2rem;
  font-family: "MuliBold", sans-serif;
  margin: 1rem 0;
  text-transform: capitalize;
  color: var(--slidebar-color);
}

p {
  font-size: 1.6rem;
  font-family: "Muli", sans-serif;
  color: var(--slidebar-color);
}

.pagebody{
  margin: 4rem auto;
}


@media (min-width: 770px) {
  .toc-whole {
    margin: 0 2rem;
    /* height: ; */
    position: sticky;
    top: 5rem;
  }

  .toc-icon {
    /* display: none; */
  }

  .lca-toc {
    margin-top: 1rem;
  }
}

.pagebody {
  position: relative;
}

.toc-whole {
  height: 100%;
}

.lca-navigation {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));

  gap: 20px;
  margin: 2rem auto 3rem;
}

.prev-lca,
.next-lca {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 0.4rem;
  height: 6rem;
  transition: background 150ms ease-in-out;
}

.prev-lca svg {
  margin-right: 1.5rem;
}

.next-lca svg {
  margin-left: 1.5rem;
}

.prev-lca p,
.next-lca p {
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  color: var(--primary-color);
  text-transform: capitalize;
}

.prev-lca:hover,
.next-lca:hover {
  background-color: var(--slidebar-color);
  border: 0;
  color: #fff;
}
