section.pagebody {
  margin: 2rem 0;
}
section.pagebody .container {
  display: flex;
  flex-direction: column;
}

section.pagebody h1 {
  font-size: 2.4rem;
  margin: 0.5rem 0 2rem 0;
  text-transform: capitalize;
  font-family: "MuliBold", sans-serif;
}


section.pagebody h1,
section.pagebody h2 {
  line-height: 1.35;
}

.bar-style {
  height: 0.3rem;
  width: 8rem;
  background-color: var(--slidebar-color);
  margin: 0.4rem 0;
  display: inline-block;
  border-radius: 0.2rem;
  align-self: flex-start;
}
p.description {
  font-size: 1.24rem;
  font-family: "Muli", sans-serif;
}
p.descriptionfrontmatter {
  font-size: 1.25rem;
  font-family: "Muli", sans-serif;
}

/* ! holding the style for tags - on-what is general and others is specific */
a.on-what-topic,
a.one-fold-on-what-topic,
a.wow-electromag-on-what-topic {
  text-transform: capitalize;
  font-family: "Muli", sans-serif;
  font-weight: 400 !important;
  color: var(--primary-color);
  display: inline-block;
font-size: 1.245rem;
  border-radius: 0.3rem;
}

a.one-fold-on-what-topic {
  color: var(--telecoms-color);
}
a.wow-electromag-on-what-topic {
  color: var(--complementary-color);
}

p {
  font-size: 1.62rem;

  margin: 2rem 0;
  font-family: "Muli", sans-serif;
}




