section.ourpost-foreground {
  background-color: var(--slidebar-color);

  padding: 6rem 0;
}

section.ourpost-foreground h2 {
  font-size: 3rem;
  margin: 1.5rem 0 2rem;
  text-transform: capitalize;
  font-family: "MuliBold", sans-serif;
  text-align: center;
  color: #fff;
}

section.ourpost-foreground h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: capitalize;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

div.tag-to-others {
  /* background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding: 1rem; */

  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  flex-wrap: wrap;
  margin: 3rem 0.3rem 0.3rem 0.3rem;
  text-transform: capitalize;
  font-size: 1.62rem;
}

.tto-h2 {
  font-size: 1.7rem;
  text-transform: capitalize;
  font-family: "MuliBold", sans-serif;
  font-weight: 400;
}
.tag-to-others a.tto-ca {
  font-size: 1.5rem;
  padding-right: 2rem;
  color: var(--primary-color);
  background: rgba(45, 121, 228, 0.3);
  display: inline-block;
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0.3em;
}

.tag-to-others a.tto-emag {
  font-size: 1.5rem;
  padding-right: 2rem;
  color: rgb(228, 152, 45);
  background: rgba(228, 152, 45, 0.3);
  display: inline-block;
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0.3rem;
}

.tag-to-others a.tto-pfe {
  font-size: 1.5rem;
  padding-right: 2rem;
  /* background: rgba(45, 121, 228, 0.35); */
  background: rgba(64, 69, 77, 0.253);
  width: 24rem;
  color: var(--primary-color);
  display: inline-block;

  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0.3rem;
}
.tag-to-others a.tto-telecoms {
  font-size: 1.5rem;
  padding-right: 2rem;
  color: rgb(41, 94, 160);
  background: rgba(41, 94, 160, 0.4);
  display: inline-block;
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0.3rem;
}

section.our-post {
  margin: 1rem 0 0rem 0;
}

section.content-section .our-post h2 {
  margin-top: 4rem;
  font-size: 4rem;
}

h2.curious::after {
  content: "";
  background-color: var(--primary-color);
  height: 0.2rem;
  width: 15rem;
  display: block;
  border-radius: 0.1rem;
  color: var(--black-shade);
}

h2.the-next::after {
  content: "";

  height: 0.2rem;
  width: 15rem;
  display: block;
  border-radius: 0.1rem;
  color: var(--black-shade);

  background-color: var(--complementary-color);
}

section.telecoms-in-one-fold {
  margin-top: 4.5rem;
}
