{{ define "main"}}

<section class="ourpost-foreground">
    <div class="container">
      <h2>credit for the elite</h2>
      <h3>nothing great is done without the help of others</h3>
    </div>
  </section>

  <section class="pagebody">
    <div class="container">
      
     <div class="credit-goes">
      <p class="credit-goes-one">Credit goes to Jason from <a href="https://">Maths and Science</a> for some of his great videos / lectures on circuit analysis.</p>
      <p>he his pretty much a teacher with people in mind and his platform has videos that demystify engineering stuffs ranging from algebra - calculus - circuit analysis itself in a well explained manner.</p>
    
     </div>
 <div class="credit-goes" >
     <p class="credit-goes-two">Credits goes to <a href="https://formsubmit.co" target="_blank">FormSubmit</a> for their open source email platform.</p>
 </div>
 <div class="credit-goes" >
  <p class="credit-goes-three">Credits goes to <a href="https://netlify.com" target="_blank">Netlify</a> - it's awesome to have you guys in the techstack.</p>
</div>
<div class="credit-goes">
  <p class="credit-goes-four">Credits goes to the people involved in the journey of making this possible.</p>
</div>
<div class="credit-goes">
<p class="credit-goes-four">Superb credit goes to the people or engineers per-se that allow us have an impact in their lives by learning stuff from TA community. </p>
</div>
  </div>
  </section>

{{end}}