{{ define "main"}}
<section class="ourpost-foreground">
    <div class="container">
      <h2>We need your help</h2>
      <h3>Even if it's a clap - it does mean something</h3>
    </div>
  </section>

  <section class="content-section donate">
    <div class="container">
      <h2 class="story-block">What do you have for us</h2>

      <p>
        In making this project a reality, we have over-pressed and deprive
        ourself for the moment of time of fun just to make the journey of the
        upcoming engineers to look a little bit easier because, to be frank we
        are also on the path of becoming an engineer and we know engineering
        is not a game to just play with, you need to tighten your belt.
      </p>
      <p>
        Long story cut short here are the ways you can help us keep this site
        running -
      </p>
      <ul>
        <li>Share with others because thats why we are here.</li>
        <li>Give us a dine through <a href="">paypal</a> - we appreciate.</li>
        <li>
          Buy us a
          <a href="https://www.buymeacoffee.com/taacademy">cup of coffee</a> -
          to make the morning great.
        </li>
        <li>
          Support us on 
          <a href="https://www.patreon.com/tooabstractive">patreon</a> -
          and get any of our premium stuff for free or at a discount.
        </li>
      </ul>
    </div>
  </section>
{{ end }}