
<header>

    <div class="container">

        <!--! logo -->
        <a href="{{ .Site.BaseURL }}" class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="145" height="32" viewBox="0 0 155.482 32.111">
                <g id="Group_171" data-name="Group 171" transform="translate(-21.367 -22.349)">
                    <text id="Tooabstractive" transform="translate(54.849 45.868)" fill="#2d79e4" font-size="16.4"
                        font-family="MuliSemiBold">
                        <tspan x="0" y="0">Tooabstractive</tspan>
                    </text>
                    <path id="Path_261" data-name="Path 261"
                        d="M1587.465,59.6c9.123,18.314-20.506.636-20.506.636l6.7,24.99S1578.343,41.29,1587.465,59.6Z"
                        transform="translate(-1544.592 -31.771)" fill="none" stroke="#2d79e4"
                        stroke-linejoin="round" stroke-width="2" />
                </g>
            </svg>
        </a>

        <!-- ! Menu icon -->
        <div class="menu-icon">
            <div class="menu-line-one"></div>
            <div class="menu-line-two"></div>
            <div class="menu-line-three"></div>
        </div>
    </div>
  {{ partial "nav.html" .}}
</header>