{{ `<!--! Title Tags -->` | safeHTML }}

{{ $title := print .Title " | " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>

<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.Title }}" />

{{ `<!--! Description  Tags -->` | safeHTML }}

<meta name="description" content="{{ .Params.description }}" />
<meta itemprop="description" content="{{ .Params.description }}" />
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:description" content="{{ .Params.description }}" />

{{ `<!--! Link  Tags -->` | safeHTML }}

<base href="{{ .RelPermalink }}" />
<link rel="canonical" href="{{ .RelPermalink }}" itemprop="url" />
<meta name="url" content="{{ .RelPermalink }}" />
<meta name="twitter:url" content="{{ .RelPermalink }}" />
<meta property="og:url" content="{{ .RelPermalink }}" />

{{ `<!--! Image  Tags -->` | safeHTML }}

{{ with .Params.image }}
  <meta itemprop="image" content="{{ . | absURL }}" />
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:image" content="{{ . | absURL }}" />
  <meta name="twitter:image:src" content="{{ . | absURL }}" />
{{ else }}
  <meta itemprop="image" content="{{ .Site.Params.image | absURL }}" />
  <meta property="og:image" content="{{ .Site.Params.image | absURL }}" />
  <meta name="twitter:image" content="{{ .Site.Params.image | absURL }}" />
  <meta name="twitter:image:src" content="{{ .Site.Params.image | absURL }}" />
{{ end }}

{{ `<!--! Sitemap  Tags -->` | safeHTML }}
<link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />



